*{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 22px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(1, 34, 49);
}
input{
    margin: 2px;
    border: none;
    border-radius: 3px;
}
input[type=text]{
    width: calc(100% - 4px);
    height: 40px;
}
input[type=button]{
    width: 100px;
    height: 50;
    transition: ease 0.2s;
    cursor: pointer;
}
div#calculadora{
    box-shadow: 0 0 20px black;
}
div#calculadora div {
    display: flex;
}
div#calculadora input:nth-child(4){
    background: rgb(104, 103, 103);
}
div#quarta input:nth-child(1){
    background: rgb(151, 9, 9);
}
div#quarta input:nth-child(1), div#calculadora{
    border-bottom-left-radius: 35px ;
}
div#quarta input:nth-child(3){
    background: rgb(9, 92, 247);    
}
div#quarta input:nth-child(4), div#calculadora{
    border-bottom-right-radius: 35px;
}
input[type=button]:hover{
    filter: brightness(50%);
}
input [type=button]:active{
    transform: scale(0.9);
}